<%= form_for(@submission) do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h5 style="color:#33b5e5"><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h5>

      <ul>
      <% @submission.errors.full_messages.each do |msg| %>
        <li><p style="color:#33b5e5"><%= msg %></p></li>
      <% end %>
      </ul>
    </div>
  <% end %>