<!DOCTYPE html>
<html>
<head>
  <title>Wildsite</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style>
  td {
		vertical-align:top;
	}
  </style>
</head>
<body>
	<div class="" style="margin-top:20px;">
		<%= yield %>
	</div>
</body>
</html>
